<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | relative_url }}" id="favicon">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="{{ '/assets/js/script.js' | relative_url }}" type="module" defer></script>

    <title>{{ "Etherium | " | append: page.title }}</title>
    <meta name="description" content="Этериум — мир парящих островов и облачных бездн, где магия, приключения и тайны соединяют культуры и судьбы, а летающие корабли бороздят бескрайние небеса.">

    <meta property="og:locale" content="en_GB">
    <meta property="og:locale:alternate" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kovalevevgeniy.github.io/etherium/">
    <meta property="og:image" content="https://kovalevevgeniy.github.io/etherium/assets/ogimage.webp?v=1">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:title" content="Etherium">
    <meta property="og:description" content="Этериум — мир парящих островов и облачных бездн, где магия, приключения и тайны соединяют культуры и судьбы, а летающие корабли бороздят бескрайние небеса.">

    <meta name="twitter:image" content="https://kovalevevgeniy.github.io/etherium/assets/ogimage.webp?v=2">
    <meta name="twitter:title" content="Etherium">
    <meta name="twitter:description" content="Этериум — мир парящих островов и облачных бездн, где магия, приключения и тайны соединяют культуры и судьбы, а летающие корабли бороздят бескрайние небеса.">
</head>