<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "Etherium | " | append: page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="{{ '/assets/js/script.js' | relative_url }}" type="module" defer></script>
</head>
<body>
<div class="bg"></div>
{% include header.html %}

<main class="main">
    <div class="content container">
        <div class="island">
            <h1> {{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
    <section class="result container">
        <div class="island">
            <p class="no-results">По вашему запросу ничего не найдено.</p>
            <section class="results"></section>
        </div>
    </section>
</main>

{% include footer.html %}
</body>
</html>