<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="bg"></div>
{% include header.html %}

<main class="main">
    <div class="content container">
        <div class="island">
            <h1 class="only-mobile"> {{ page.title }}</h1>
            {% include table_of_contents.html %}
            <h1 class="only-desktop">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
    <section class="result container">
        <div class="island">
            <p class="no-results">По вашему запросу ничего не найдено.</p>
            <section class="results"></section>
        </div>
    </section>
</main>

{% include footer.html %}

</body>
</html>