<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "Etherium | " | append: page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="{{ '/assets/js/script.js' | relative_url }}" defer></script>
</head>
<body>
<header>
    <div class="container">
        <h1>{{ page.title }}</h1>
        <nav>
            <a href="{{ '/' | relative_url }}">Главная</a>
            <a href="{{ '/sitemap' | relative_url }}">Оглавление</a>
            <a href="{{ '/data/homebrew/' | relative_url }}">Хоумбрю</a>
        </nav>
    </div>
</header>

<div class="search">
    <div class="container">
        <input type="search" name="search" placeholder="Поиск...">
    </div>
</div>

<main class="main">

    <div class="content container">
        <div class="island">
            {% include table_of_contents.html %}
            {{ content }}
        </div>
    </div>

    <section class="result container">
        <div class="island">
            <p class="no-results">По вашему запросу ничего не найдено.</p>
            <section class="results">

            </section>
        </div>
    </section>
</main>

<footer class="footer">
    <p>&copy; {{ "now" | date: "%Y" }} Etherium <strong>0.4.0</strong> | <a href="{{ '/changelog' | relative_url }}">Changelog</a></p>
    <p>Powered by GitHub Pages</p>
</footer>
</body>
</html>